USE [master]
GO
/****** Object:  Database [PruebaTecnica]    Script Date: 29/11/2025 11:15:29 p. m. ******/
CREATE DATABASE [PruebaTecnica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaTecnica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\PruebaTecnica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaTecnica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\PruebaTecnica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaTecnica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaTecnica]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 29/11/2025 11:15:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[DocumentType] [nchar](10) NOT NULL,
	[DocumentNumber] [nchar](20) NOT NULL,
	[FirstName] [nchar](80) NOT NULL,
	[LastName] [nchar](80) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[PhoneNumber] [nchar](20) NULL,
	[Email] [nchar](100) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientId], [DocumentType], [DocumentNumber], [FirstName], [LastName], [BirthDate], [PhoneNumber], [Email], [CreatedAt]) VALUES (3, N'CC        ', N'1111111             ', N'Ivan Andres                                                                     ', N'Salazar                                                                         ', CAST(N'1998-04-02' AS Date), N'3017988451          ', N'ivanandres26@hotmail.es                                                                             ', CAST(N'2025-11-29T19:21:33.007' AS DateTime))
INSERT [dbo].[Patients] ([PatientId], [DocumentType], [DocumentNumber], [FirstName], [LastName], [BirthDate], [PhoneNumber], [Email], [CreatedAt]) VALUES (4, N'CC        ', N'22222222            ', N'Andres                                                                          ', N'Tobias                                                                          ', CAST(N'0001-01-01' AS Date), N'3333333             ', N'ivanandre@hotmail.es                                                                                ', CAST(N'2024-01-15T10:00:00.000' AS DateTime))
INSERT [dbo].[Patients] ([PatientId], [DocumentType], [DocumentNumber], [FirstName], [LastName], [BirthDate], [PhoneNumber], [Email], [CreatedAt]) VALUES (5, N'CC        ', N'1143164801          ', N'Ivan Andres                                                                     ', N'Salazar                                                                         ', CAST(N'2025-11-11' AS Date), NULL, NULL, CAST(N'2025-11-29T23:55:40.960' AS DateTime))
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [DF_Patients_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[GetPatientsCreatedAfter]    Script Date: 29/11/2025 11:15:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientsCreatedAfter]
    @Date datetime
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        PatientId,
        DocumentType,
        DocumentNumber,
        FirstName,
        LastName,
        BirthDate,
        Email,
        PhoneNumber,
        CreatedAt
    FROM Patients
    WHERE CreatedAt > @Date
    ORDER BY CreatedAt DESC;
END
GO
USE [master]
GO
